.start-side-container {
  padding: 20px;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  table-layout: fixed; /* Ensure equal column widths */
}

.custom-table td {
  padding: 10px;
  text-align: left; /* Left-align text in table cells */
  width: 50%; /* Set column width to 50% */
  vertical-align: top; /* Align content to the top */
}

.image-container {
  text-align: center; /* Center the image horizontally */
}

.image-container img {
  max-width: 100%; /* Ensure the image is responsive */
  height: auto;
}

.center-container {
  text-align: center;
  margin-top: 20px;
}

.center-text {
  font-size: 1.2em; /* Adjust font size as needed */
  margin-bottom: 10px;
}

button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
}