.start-container {
  padding: 20px;
}

.center-container {
  text-align: center;
  margin-top: 20px;
}

.center-text {
  font-size: 1.2em; /* Adjust font size as needed */
  margin: 20px;
}

button {
  display: inline-block;
  background-color: black;
  color: white;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
}