<div class="start-container">
  <div class="center-container">
    <div class="center-text">
      Ihr Partner für Microsoft C#, Angular und Azure-Dienstleistungen
    </div>

      Wir sind der richtige Partner, wenn es um professionelle Dienstleistungen rund um Microsoft C#, Angular und die Azure-Cloud geht. Begriffe wie SOLID-Prinzipien, Design Patterns wie Repository oder Tools wie MediatR sind für uns nicht nur Schlagworte – wir leben und arbeiten danach. Unser Team setzt auf modernste Technologien und bewährte Praktiken, um Ihnen nachhaltige, leistungsstarke und skalierbare Lösungen zu bieten. Vertrauen Sie auf unsere Expertise und Leidenschaft für sauberen Code und effiziente Softwarearchitekturen!
      
    <div style="margin-top: 50px;">
      <div class="center-text">
        Get in touch with us!
      </div>
      <button routerLink="/project-request">Project request</button>
    </div>
  </div>
</div>