<div class="start-container">
  <table class="custom-table">
    <tr>
      <td>
        <h3>Consultant</h3>
        As a software development consulting company, we offer to work on side with you to help your business to turn your ideas into high-quality software products.
        <ul>
          <li>We implement maintainable, reusable, scalable, high-quality software.</li>
          <li>Using SOLID principles</li>  
          <li>Technices like CQRS paired with mediator</li>
          <li>Promise high quality lincluding Unit- and Integration testing</li>
        </ul>
      </td>
      <td>
        <div class="image-container">
          <img src="assets/images/EliasSolutions_Page_1.png" alt="CQRS with Mediator">
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="image-container">
          <img src="assets/images/EliasSolutions_Page_2.png" alt="Visual Studio Code">
        </div>      </td>
      <td>
        <h3>Coaching</h3>
          Take the advantage to stay up to date with our coaching service. We are continuously learning and improving our skills no matter if C#, Typscript or Pyhton
          to help you to stay continuously up to date. 
        <ul>
          <li>In C# we provide backend solutions from the whole stack form Database level via Entity Framework or dapper to modern API definitions.</li>
          <li>No matter if Controller or Minimal API based webservices</li>
          <li>Our frontend developers are able to train you or larger teams in frameworks and languages like Angular and typescript.</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>  
        <h3>Training</h3>
        As a software development training provider, we will help you to reach you tragets like coninuse integration, continuse deployment.
        <ul>
          <li>No mather if Azure, AWS within GIT we will help to set up your development life cycle.</li>
          <li>Train you in Agile, Scrum, and Lean practices to improve project delivery and collaboration.</li>
          <li>Hands-on training in automating workflows, continuous integration, and deployment for smoother operations.</li>
          <li>Equipping teams with the knowledge to build scalable, cloud-based microservices applications.</li>
          <li>Advanced Programming & Best Practices: Focused training on clean code, testing, and software design patterns.</li>
        </ul>
      </td>
      <td>
        <div class="image-container">
          <img src="assets/images/EliasSolutions_Page_3.png" alt="GIT">
        </div>
      </td>
    </tr>
  </table>

  <div class="center-container">
    <div class="center-text">
      Get in touch with us!
    </div>
    <button routerLink="/project-request">Project request</button>
  </div>
</div>