<h2>{{ 'impressum.title' | translate }}</h2>

<p><strong>{{ 'impressum.sub.title.1' | translate }}</strong></p>

<p>Elias Solutions GmbH<br>
Kirchweg 7A<br>
4614 Hägendorf<br>
Schweiz</p>

<p><strong>{{ 'impressum.sub.title.2' | translate }}</strong><br>
{{ 'impressum.sub.title.2' | translate }} Jonas Elias</p>

<p><strong>{{ 'impressum.sub.title.3' | translate }}</strong><br>
{{ 'impressum.sub.detail.3' | translate }} +41 560 56 46<br>
E-Mail: contact (a) elias-solutions.ch</p>

<p><strong>{{ 'impressum.sub.title.4' | translate }}</strong><br>
{{ 'impressum.sub.detail.4' | translate }}<br>
UID: CHE-147.965.804</p>

<p><strong>{{ 'impressum.sub.title.5' | translate }}</strong><br>
{{ 'impressum.sub.detail.5' | translate }}: Rechnungswerk Treuhand GmbH</p>

<p><strong>{{ 'impressum.sub.title.6' | translate }}</strong><br>
Jonas Elias</p>

<p><strong>{{ 'impressum.sub.title.7' | translate }}</strong><br>
{{ 'impressum.sub.title.7' | translate }}</p>

<p><strong>{{ 'impressum.sub.title.8' | translate }}</strong><br>
{{ 'impressum.sub.detail.8' | translate }}</p>
