<h1>Impressum</h1>

<p><strong>Angaben gemäß Artikel 13 des Schweizerischen Bundesgesetzes gegen den unlauteren Wettbewerb (UWG):</strong></p>

<p>Elias Solutions GmbH<br>
Kirchweg 7A<br>
4614 Hägendorf<br>
Schweiz</p>

<p><strong>Vertretungsberechtigte Personen:</strong><br>
Geschäftsführer: Jonas Elias</p>

<p><strong>Kontakt:</strong><br>
Telefon: +41 560 56 46<br>
E-Mail: contact (a) elias-solutions.ch</p>

<p><strong>Handelsregistereintrag:</strong><br>
Eingetragen im Handelsregister des Kantons Solothurn.<br>
UID: CHE-147.965.804</p>

<p><strong>Aufsicht und Treuhand:</strong><br>
Treuhänder: Rechnungswerk Treuhand GmbH</p>

<p><strong>Verantwortlich für den Inhalt nach Artikel 322 OR:</strong><br>
Jonas Elias</p>

<p><strong>Haftungsausschluss:</strong><br>
Die Elias Solutions GmbH übernimmt keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.</p>

<p><strong>Urheberrecht:</strong><br>
Die Inhalte dieser Webseite sind urheberrechtlich geschützt. Eine Vervielfältigung, Bearbeitung, Verbreitung oder jede Art der Verwertung bedarf der schriftlichen Zustimmung der Elias Solutions GmbH.</p>
